<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis 中的映射文件，对于这个映射文件必须有一个mapper 根元素，这个根元素中必须定义个命名空间 namespace -->
<mapper namespace="com.project.sys.dao.SysUserDao">
	<!-- 定义一个SQL 查询，必须要有一个id，其中resultType 表示查询结果会封装到对应的map类型中，一行记录对应一个map -->
	<select id="findUsers" resultType="map">
		select * from sys_users
	</select>
	<!-- 可以指定参数类型 -->
	<select id="findUserById" 
		parameterType="int" resultType="map">
		select * from sys_users where id = #{id}
	</select>
	<!-- 可以指定返回的结果封装到一个指定的实体类中 -->
	<!-- resultType 可以在mybatis-config.xml 中配置别名
	<typeAlias type="com.project.sys.entity.SysUser" alias="sysUser"/> -->
	<!-- 也可以直接指定到包路径下面，所有的类都为其默认生成一个别名。别名为类名的首字母小写 -->
	<select id="findObjectById" resultType="com.project.sys.entity.SysUser">
		select * from sys_users where id = #{id}
	</select>
	
	<!-- 所有的insert、update、delete 都有一个默认的返回类型为int，表示影响的行数  -->
	<insert id="insertObject" parameterType="sysUser">
		insert into sys_users(id, username, password, phone, createdDate, modifiedDate) 
		values(null, #{username}, #{password}, #{phone}, now(), now())
	</insert>
</mapper>
