* {
    font-size: 16px;
    font-family: "微软雅黑";
}

h1 {
    font-size: 28px;
    font-family: "黑体, 宋体";
    color: blue;
    text-align: center;
    font-weight: bolder;
}

div {
    margin-left: 2em;
    /* padding-left: 2em; */
}

p {
    text-indent: 2em;
}

/* 一般用来重置p 元素的行高 */
.pHeight {
	margin: 4px auto;
}

/* 文本注释的字体颜色  */
.comment {
    color: #080;
}


/* 展示 效果样式 */
.exhibitionEffect {
	background-color: #CCC;
}
