<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis 中的映射文件，对于这个映射文件必须有一个mapper 根元素，这个根元素中必须定义个命名空间 namespace -->
<mapper namespace="com.project.sys.dao.SysUserDao">
	<cache />

	<select id="findUsers" resultType="sysUser">
		select * from sys_users where
		phone=#{phone} order by ${columnName} desc
	</select>

	<select id="findUserById" resultType="sysUser">
		select * fromm sys_users
		where id=#{id}
	</select>

	<!-- 当数据库返回的字段名与要映射对象属性和set 方法不匹配。需要使用resultMap 做具体映射 -->
	<resultMap type="account" id="amap">
		<!-- 将数据库中的username 字段 映射到account 中的uname 属性 -->
		<result property="uname" column="username" />
		<result property="pwd" column="password" />
	</resultMap>
	<select id="findNameAndPwd" resultMap="amap">
		select username, password
		from sys_users
	</select>

	<insert id="insertObject" parameterType="sysUser"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_users(id,
		username, password, phone, createdDate, modifiedDate)
		values(null,
		#{username}, #{password}, #{phone}, now(), now())
	</insert>

	<delete id="deleteObjectById">
		delete from sys_users where id in
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</delete>

</mapper>
