<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>CGB-SPRING-DAY09-MVC-01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 注册servlet, 这个servlet 在spring-mvc 中充当前端控制器的角色 -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 配置servlet 初始化参数 -->
		<init-param>
			<!-- 这个参数名由spring 定义的，必须是它，不能修改 -->
			<param-name>contextConfigLocation</param-name>
			<!-- 这个是配置文件的文件名 -->
			<param-value>classpath:spring_mvc.xml</param-value>
		</init-param>
		<!-- 配置容器启动时即初始化这个servlet -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 配置servlet 映射 
		在客户端 发起请求时，URL 后缀必须为".do"
	-->
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>