什么是CSS?
	CSS: 层叠样式表，用来修饰(美化)HTML 网页的一门技术。使用CSS 属性来设置样式，可以将设置样式的CSS 代码和展示数据的HTML 代码进行分离。并且还可以实现代码的复用，增强网页的展示能力。
		<table border="1" bgcolor="red" align="center"></table>

如果在HTML 中引入CSS
	1.2.1 通过标签上的style 属性引入CSS 样式
		<!--
			1. 
		-->
	
	1.2.2 通过head 标签内部的style 标签引入CSS 样式
	
	1.2.3 通过链接引入外部的CSS 文件来引入CSS 样式




选择器
	所谓的选择器就是在HTML 中帮助我们选择标签进行修饰的技术
	
	1.1 基本选择器
		1.1.1 标签名(元素名)选择器
			根据元素的名称来选择指定名称的元素进行修饰。
			格式: 元素名{ css 属性... }
				div,span,p{border: 2px solid red; font-size:18px;}
				span{border-color:blue;}
				div,p{ width:300px; height:100px; padding:5px;}
		1.1.2 class 选择器
			通过标签上通用的属性class, 可以为标签指定所属的类(组), 所有class 相同的元素则为一组，可以通过class 选择器为这一组的标签统一设置样式。
			
		1.1.3 ID 选择器
			通过标签上通用的属性ID，可以为标签设置唯一的标识(ID 的值在整个HTML 页面中是独一无二的)，可以通过ID的值选中的值 选中指定的元素
			格式: #id 值{ css 属性... }

	1.2 扩展选择器
		在基本选择器选择的基础上进行更加复杂的选择器
		1.2.1 后代选择器
			在父选择器选中元素的内部，选中指定的所有后代元素
			格式: 父选择器 子孙元素选择器{ css 属性... }
		1.2.2 子元素选择器
			在父选择器选 中元素的内部，选中指定的所有子元素
			格式: 父选择器>子孙元素选择器{ css 属性... }
		1.2.3 分组选择器
			将多个选择器选中的元素来统一设置样式
			span,div,p,.c1,#d1{ css 属性... }
		1.2.4 属性选择器
			根据属性条件选中符合条件的元素来设置样式
			<input type="text" />
			<input type="password" />
			input[type='text']{
				
			}
		1.2.5 相邻兄弟选择器
			相邻兄弟指的是如果两个元素具有相同的父元素，并且紧挨着，这两个元素就是相邻兄弟元素。可以通过相邻兄弟选择器选中A 元素后面的B 元素
			格式: 大哥+小弟{css 属性... }
		1.2.6 伪元素选择器
			根据元素的状态选中指定的元素

盒子模型
	内边距(padding): padding-top padding-right padding-bottom padding-left
	边框(border): border-top border-right border-bottom border-left
	外边距(margin): margin-top margin-right margin-bottom margin-left

	所谓的盒子模型指的是，可以将HTML 中所有的元素都看成一个一个的盒子（或者是框），盒子与盒子之间的距离，包括盒子的边框以及盒子边框和盒子内容的距离都可以使用相应的属性来表示

	外边框合并的现象：在垂直方向上（上下外边距）外边距相遇时，会发生合并的现象，合并后的外边距是取较大者。

常用的属性
	1.1 元素类型的补充
		1.1.1 块级元素
			默认情况下，块级元素独占一行
			可以设置宽和高，如果不设置宽和高，其中宽是默认填满父元素，而高是由内容决定
			外边框/边框/内边距 都可以设置
		1.1.2 行内元素
			默认情况下，多个行内元素处在同一行
			不能设置宽和高
			左右外边距/边框/内边距都可以设置，上下外边距设置无效
		1.1.3 行内块元素
			既具备行内元素的特征（可以同行显示），还具备块元素的特征（可以设置宽高）
	1.2 display
		display 属性是用来设置元素的类型
		取值: 
			block: 块级元素的默认值
			inline: 行内元素的默认值
			inline-block: 行内块元素
			none: 表示隐藏元素
			




















