<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.sys.dao.SysUserRoleDao">

	<insert id="insertObject">
		insert into sys_roles_users(user_id, role_id) values
		<foreach collection="roleIds" separator="," item="it">
			(#{userId}, #{it})
		</foreach>
	</insert>
	
	<select id="findObjectByUserId" resultType="integer">
		select role_id from sys_roles_users where user_id=#{userId}
	</select>
	
	<delete id="deleteRolesByUserId">
		delete from sys_roles_users where user_id=#{userId}
	</delete>
	
</mapper>

